html {
    font-family: Open Sans, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

.sr-only {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

.wrapper {
min-height: 100%;
display: flex;
flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: #F6F6F8;
}


.lock {
    overflow: hidden;
}


.container {
    max-width: 1200px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: black;
    color: white;
    font-size: 18px;
}

.header__inner {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-wrapper {
    display: none;
}

.burger {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    transition: all .3s;
}

.burger.active .burger__line::after {
    transform: rotate(45deg);
    top: 0;
}

.burger.active .burger__line::before {
    transform: rotate(-45deg);
    top: 0;
}

.burger.active .burger__line {
    background-color: transparent;
}

.burger__line {
    position: relative;
    display: block;
    width: 40px;
    height: 2px;
    background-color: white;
    transition: all .3s;
}

.burger__line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 15px;
    background-color: #fff;
    transition: all .3s;
}

.burger__line::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: -15px;
    background-color: #fff;
    transition: all .3s;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu__item {
    position: relative;
}

.menu__link {
    padding: 5px 10px;
    z-index: 2;
}

.menu__sublist {
    z-index: 1;
    position: absolute;
    padding: 30px 15px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(0);
    transition: all .3s;
    font-size: 14px;
    border-radius: 5px;
    color: black;
    background-color: rgb(255, 255, 255, 0.75);
}



.menu__item-title {
    display: flex;
    min-height: 44px;
    align-items: center;
    position: relative;
    transition: all .3s;
}

.menu__item:hover .menu__sublist {
    transform: scale(1);
}

.menu__item-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 2;
    bottom: -5px;
    background-color: yellow;
    transform: scale(0);
    transition: all .3s;
}

.menu__item-title:hover::after {
    transform: scale(1);
}

.menu__item-title:hover,
.menu__sublink:hover {
    color: red;
}

.header__curt-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 60px;
    background-color: yellow;
    color: black;
    box-shadow: 0px 2px 2px 1px white;
    border-radius: 3px;
    transition: all .3s;
}

.header__curt-link:hover {
    box-shadow: 0px 3px 3px 3px white;
    color: white;
    background-color: orange;
}

.logo {
    transition: all .3s;
}

.logo:hover {
    box-shadow: 0px 2px 4px 4px yellow;
}

.logo__img {
    max-height: 70px;
}

.weather {
    margin-top: 100px;
    padding: 40px 0;
}

.weather__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.weather__checkbox:checked+.weather__check-style {
    background-color: red;
}

.weather__label {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    background-color: #ccc;
    z-index: 1;
    transition: all .3s;
}

.weather__check-style {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    transition: all .3s;
}

.weather__label:hover .weather__check-style {
    box-shadow: 0px 2px 2px 2px gray;
}

.weather__period {
    display: flex;
    align-items: center;
}

.weather__city {
    cursor: pointer;
}

.weather__form {
    display: flex;
    justify-content: space-between;
    align-items: start;
}


#cityList {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: calc(100% - 2px);
}

#cityList div {
    padding: 10px;
    cursor: pointer;
}

#cityList div:hover {
    background-color: #f0f0f0;
}

.weather__city-input {
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: red 2px solid;
    transition: all .3s;
}

.weather__city-input:hover {
    border: orange 2px solid;
    box-shadow: 0px 2px 2px 2px gray;
    background-color: #fff;
}

.weather__city-input:active {
    border: blue 2px solid;
    outline: none;
    box-shadow: 0px 2px 3px 2px gray;
}

.weather__city-input:focus {
    border: blue 2px solid;
    outline: none;
    box-shadow: 0px 2px 3px 2px gray;
}

.weather__search-title {
    margin-bottom: 20px;
}

.weather__btn-add {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    max-height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 120%;
}

.weather__grafics-wrapper {
    width: 100%;
}

.weather__grafic-container {
    display: flex;
}

.weather__card {
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 2px gray;
    border-radius: 5px;
}

.weather__card {
    display: flex;
}

.weather__content-title {
    margin-bottom: 10px;
}

.weather__card-item {
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.weather__card-list {
    padding: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.weather__card-name {
    background-color: rgb(255, 100, 0, 0.75);
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.weather__city {
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .3s;
}

.weather__city:hover {
    background-color: darkgray;
}

.weather__list-switch {
    display: flex;
    margin-right: 15px;
    justify-content: center;
}

.weather__switch-button {
    padding: 5px;
    border: none;
    background-color: orange;
    border-radius: 3px;
}

.btn-active {
    background-color: red;
}

.weather__main-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.weather__item-swither {
    margin-right: 10px;
}

.weather__card-remove {
    justify-self: end;
}

.hide {
    display: none;
}

.weather__add-btn,
.weather__card-remove {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 2px gray;
    margin-right: 10px;
    transition: all .3s;
}

.weather__card-remove {
    background-color: crimson;
}

.weather__add-btn {
    background-color: green;
}

.weather__add-btn:hover {
    box-shadow: 0px 2px 4px 4px gray;
    background-color: greenyellow
}

.weather__card-remove:hover {
    box-shadow: 0px 2px 4px 4px gray;
    background-color: red;
}

.footer {
    position: relative;
    color: #ffff;
    background-image: url('./images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer::before {
    z-index: 1;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.85);
}

.footer__inner {
    position: relative;
    z-index: 2;
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
}

.footer__info {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.footer__img {
    max-height: 80px;
}

.footer__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}


.footer__subitem {
    margin-bottom: 10px;
}

.foooter__subtitle {
    margin-bottom: 15px;
}

.footer__logo {
    margin-bottom: 50px;
}

.footer__text {
    font-size: 14px;
    margin-bottom: 35px;
}

.footer__developer {
    position: relative;
}

.footer__info-dev {
    display: flex;
    gap: 5px;
}

.footer__link-dev {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__social {
    margin-bottom: 15px;
}

.footer__link {
    transition: all .3s;
    padding: 5px;
    border-radius: 3px;
}

.footer__link:hover {
    background-color: #676d77;
}

.footer__smm {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .header {
      
        transition: all .3s;
    }

    .weather__card {
        flex-direction: column;
        align-items: center;
    }

    .header::after {
        position: absolute;
        content: '';
        left: -200%;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 1vh;
        background-color: black;
        transition: all .3s;
    }

    .menu__sublist {
        display: none;
    }

    .header.active::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: all .3s;
    }

    .header__curt {
        display: none;
    }

    .header__inner {
        position: relative;
        z-index: 2;
    }

    .menu__list.active {
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 40%;
        opacity: 1;
    }

    .menu__list {
        flex-direction: column;
        position: absolute;
        top: -200%;
        opacity: 0;
        left: 40%;
        transition: all .3s;
    }

    .hero__inner {
        max-width: 80%;
    }

    .hero__title {
        font-size: 40px;
    }

    .hero__content {
        font-size: 18px;
    }

    .hero__btn {
        padding: 10px 30px;
        font-size: 20px;
    }

    .burger-wrapper {
        display: block;
    }

    .gods__list {
        gap: 15px;
    }

    .gods__item {
        max-width: 40%;
        padding: 15px 10px;
        font-size: 14px;
    }

    .gods__btn {
        padding: 10px 20px;
        font-size: 15px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 25px;
    }

    .footer__info {
        max-width: 100%;
    }

    .footer__logo {
        align-self: center;
    }

    .footer__list {
        flex-direction: column;

    }

    .footer__info-dev {
        display: none;
    }

    .footer__smm {
        justify-content: center;
    }
}